.DS_Store
UserPostsConsoleApp/bin
UserPostsConsoleApp/obj
UserPostsConsoleApp.Tests/bin
UserPostsConsoleApp.Tests/obj

/Users/wilyendri/RevProjects/Project1/UserPostsConsoleApp/bin
/Users/wilyendri/RevProjects/Project1/UserPostsConsoleApp/obj

/Users/wilyendri/RevProjects/Project1/UserPostsConsoleApp.Tests/bin
/Users/wilyendri/RevProjects/Project1/UserPostsConsoleApp.Tests/obj

UserPostsConsoleApp/appsettings.json
